body {
  overflow: hidden; /* Hide scrollbars */
}

#startScreen {
  position: absolute;
  top: 0px;
  height: 630px;
  width: 1102px;
  z-index: 200;
  background-color: brown;
  display: flex;
  align-content: center;
  justify-content: center;
  animation: slideDown;
  transition: 0.75s;
}

#startScreen button {
  height: 100px;
  width: 300px;
  margin: auto;
}

#startScreen.slideAnimation {
  transition: 0.75s;
  top: 615px !important;
}

#Boat{
  position: absolute;
  z-index: 1;
  width: 575px;
  height: 372px;
  transform: translateY(0px);
  transform: rotate(00deg);
  left: 483px;
  top: 111px;
}

#Boat .mainBoat {
  position: absolute;
  width: 575px;
  height: 372px;
}

#Boat .mainBoat:nth-child(n+4) {
  opacity: 0.001;
}

.Flag {
  position: absolute;
  height: 34px;
  top: 10px;
  left: 267px;

}

.Flag {
  left: 210px;
  top: 7px;
}

#Background {
  position: absolute;
  margin: 0px;
  height: 621px;
  z-index: -10;
}

.clouds {
  position: absolute;
}

.cloud {
  position: absolute;
}

.waves {
  position: absolute;
  display: flex;
  width: 1102px;
  top: 383px;
  left: -275px;
  z-index: 3;
}

.wave {
  margin: 0 -1px;
  width: 200px;
}

.ocean {
  position: absolute;
  width: 1102px;
  height: 210px;
  top: 420px;
  z-index: 2;
  background-color: #12499e;
  background-image: linear-gradient(#12499e 50%, #15376b);
}

.wrapper {
  position: absolute;
  top: -8px;
  left: -8px;
}

.menuWrapper {
  position: absolute;
  left: -20px;
  top: -25px;
  background-color: none;
  margin: 40px;
  z-index: 50;
}

#UpgradeMenu {
  position: absolute;
  height: 270px;
}

#hullButton {
  height: 85px;
  top: 65px;
  left: 48px;
}

#mastButton {
  height: 62px;
  top: 155px;
  left: 55px;
}

#cannonButton {
  height: 58px;
  top: 155px;
  left: 132px;
}

#shopButton {
  height: 143px;
  top: 72px;
  left: 204px;
}

.upgradeButton {
    position: absolute;
    z-index: 1000;
}

.upgradeButton:hover {
  animation: wiggle;
  animation-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.upgradeButton:active {
  filter: brightness(90%);
}

.upgradeButton:disabled {
  filter: brightness(75%);
  filter: grayscale();
  transform: scale(0.9);
}

.upgradeButton:disabled:hover {
  animation: none !important;
}

.shopMenuWrapper {
  position: absolute;
  top: 200px;
  left: 0px;
  z-index: -10;
  clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0% 100%);
}

.shopMenuMover {
  position: relative;
  top: -280px;
  transition: 1s;
  transition-timing-function: ease-in-out;
}

.shopMenuMover.move {
  top: 0 !important;
  transition: 1s;
  transition-timing-function: ease-in-out;
}

.shopMenuWrapper img {
  width: 400px;
  z-index: -10;
}

#leftButton {
  left: 60px;
  top: 70px;
  height: 125px;
}

#rightButton {
  left: 200px;
  top: 76px;
  height: 112px;
}

#bottomButton {
  left: 120px;
  top: 210px;
  height: 110px;
}

@keyframes wiggle {
  0% {
    transform-origin: 50% 20%;
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(4deg);
  }

  66% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.costTag {
  position: absolute;
  display: flex;
  z-index: 9999;
  color: white;
  opacity: 0.001;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}

.costTag img{
  width: 20px;
  margin-right: 2.5px;
}

.costTag span {
  font-size: 20px;
}
