body {
  overflow: hidden; /* Hide scrollbars */
}

#startScreen {
  position: absolute;
  top: 0px;
  height: 630px;
  width: 1102px;
  background-image: url("UI\\StartscreenBackground.png");
  z-index: 200;
  background-color: brown;
  display: flex;
  align-content: center;
  justify-content: center;
  animation: slideDown;
  transition: 0.75s;
}

#startScreen input {
  margin: auto;
}

#startScreen.slideAnimation {
  transition: 0.75s;
  top: 615px !important;
}

#Boat{
  position: absolute;
  z-index: 1;
  width: 575px;
  height: 372px;
  transform: translateY(0px);
  transform: rotate(00deg);
  left: 483px;
  top: 111px;
}

#Boat .mainBoat {
  position: absolute;
  width: 575px;
  height: 372px;
}

#Boat .mainBoat:nth-child(n+4) {
  opacity: 0.001;
}

.Flag {
  position: absolute;
  height: 34px;
  top: 10px;
  left: 267px;

}

#Background {
  position: absolute;
  margin: 0px;
  height: 621px;
  z-index: -10;
}

.clouds {
  position: absolute;
}

.cloud {
  position: absolute;
}

.waves {
  position: absolute;
  display: flex;
  width: 1102px;
  top: 383px;
  left: -275px;
  z-index: 3;
}

.wave {
  margin: 0 -1px;
  width: 200px;
}

.ocean {
  position: absolute;
  width: 1102px;
  height: 210px;
  top: 420px;
  z-index: 2;
  background-color: #12499e;
  background-image: linear-gradient(#12499e 50%, #15376b);
}

.wrapper {
  position: absolute;
  top: -8px;
  left: -8px;
}

.menuWrapper {
  position: absolute;
  left: -20px;
  top: -25px;
  background-color: none;
  margin: 40px;
  z-index: 50;
}

#UpgradeMenu {
  position: absolute;
  height: 270px;
}

#hullButton {
  height: 85px;
  top: 65px;
  left: 48px;
}

#mastButton {
  height: 62px;
  top: 155px;
  left: 55px;
}

#cannonButton {
  height: 58px;
  top: 155px;
  left: 132px;
}

#shopButton {
  position: absolute;
  height: 143px;
  top: 72px;
  left: 204px;
}

.wiggleButton {
    position: absolute;
    z-index: 1000;
}

.wiggleButton:hover {
  animation: wiggle;
  animation-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.wiggleButton:active {
  filter: brightness(90%);
}

.wiggleButton:disabled {
  filter: brightness(75%);
  filter: grayscale();
  transform: scale(0.9);
}

.wiggleButton:disabled:hover {
  animation: none !important;
}

.shopMenuWrapper {
  position: absolute;
  top: 200px;
  left: 0px;
  z-index: -10;
  clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0% 100%);
}

.shopMenuMover {
  position: relative;
  top: 0px;
  transition: 0.6s;
  transition-timing-function: ease-in-out;
}

.shopMenuMover.move {
  top: -280px !important;
  transition: 0.6s;
  transition-timing-function: ease-in-out;
}

.shopMenuWrapper img {
  width: 400px;
  z-index: -10;
}

#leftButton {
  left: 60px;
  top: 70px;
  height: 125px;
  width: 128.2px;
}

#rightButton {
  left: 200px;
  top: 76px;
  height: 112px;
  width: 130px;
}

#bottomButton {
  left: 120px;
  top: 210px;
  height: 110px;
  width: 155.63px;
}

.shopButton {
  position: absolute;
  width: 100%;
  height: 100%;
}

.inventoryItem {
    display: none;
}

.item {
  pointer-events: none;
}

.leftShopItem {
  position: absolute;
  height: 60px;
  width: 40.3px !important;
  z-index: 300 !important;
  top: 35px;
  left: 45px;
}

.rightShopItem {
  position: absolute;
  height: 55px;
  width: 101.2px !important;
  top: 28px;
  left: 20px;
  z-index: 300 !important;
}

.bottomShopItem {
  position: absolute;
  top: 27px;
  left: 43px;
  height: 100px;
  width: 95.41px !important;
  z-index: 300 !important;
  clip-path: inset(0 0 50% 0);
}

#rightButtonWrapper {
  position: absolute;
  top: 0;
  left: 0;
}

#leftButtonWrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.leftArrows {
  left: 107px;
  top: 106px;
  width: 29.5px;
  height: 53.1px;
  z-index: 100000;
}

.bottomArrows {
  left: 180px;
  top: 240px;
  width: 29.5px;
  height: 53.1px;
  z-index: 100000;
}

#brightArrow {
  transform: translateX(70px);
}

#bleftArrow {
  transform: translateX(-70px);
}

#lrightArrow {
  transform: translateX(50px);
}

#lleftArrow {
  transform: translateX(-50px);
}

.arrow {
  position: absolute;
  display: none;
}

.rightArrows {
  left: 250px;
  top: 106px;
  width: 29.5px;
  height: 53.1px;
  z-index: 100000;
}

#rrightArrow {
  transform: translateX(53px);
}

#rleftArrow {
  transform: translateX(-53px);
}

#soundtrackText {
  position: absolute;
  height: 20px;
  width: auto;
  z-index: 999;
  top: 100px;
  left: 25px;
  transform-origin: center;
  transform: rotate(3deg);
}

#figureHeadText {
  position: absolute;
  width: 130px;
  height: auto;
  top: 73px;
  left: 5px;
  z-index: 999;
  transform-origin: center;
  transform: rotate(6deg);
}

#flagText {
  position: absolute;
  left: 75px;
  top: 78px;
  width: 50px;
  z-index: 999;
}

@keyframes wiggle {
  0% {
    transform-origin: 50% 20%;
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(4deg);
  }

  66% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.costTag {
  position: absolute;
  z-index: 9999;
  color: white;
  opacity: 0.001;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}

.flexContainer {
  display: flex;
}

.flexContainer img{
  display: block;
  width: 20px;
  margin-right: 2.5px;
}

.flexContainer span {
  font-size: 20px;
  white-space: nowrap;
}
