body {
  overflow: hidden; /* Hide scrollbars */
}

#Boat{
  position: absolute;
  z-index: 1;
  transform: translateY(0px);
  transform: rotate(00deg);
  left: 550px;
  top: 450px;
}

#Boat img {
  position: absolute;
  width: 575px;
  left: -287px;
  top: -372px;
}

#Boat img:nth-child(n+3) {
  opacity: 0.001;
}

#Background {
  position: absolute;
  margin: 0px;
  height: 621px;
  z-index: -10;
}

.clouds {
  position: absolute;
}

.cloud {
  position: absolute;
}

.waves {
  position: absolute;
  display: flex;
  width: 1102px;
  top: 350px;
  left: -275px;
  z-index: 3;
}

.wave {
  margin: 0 -1px;
  width: 200px;
}

.ocean {
  position: absolute;
  width: 1102px;
  height: 230px;
  top: 400px;
  z-index: 2;
  background-color: #12499e;
  background-image: linear-gradient(#12499e 50%, #15376b);
}

.wrapper {
  position: relative;
}

.coinIcon {
  width: 12px;
}

.upgradeText {
  margin-bottom: 5px;
}

.upgradeMenu {
  padding: 0;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 1000px;
  height: 200px;
  left: 50px;
  top: 420px;
  z-index: 100;
}

.upgradeMenu li button{
  margin: auto;
  background-color: #74441d;
  color: black;
  padding: 15px;
  transition: 0.5s;
}

.upgradeMenu li button:hover {
  background-color: #3c230f;
  color: black;
  padding: 10px 20px;
}

.upgradeMenu li button:active {
  background-color: #12499e;
}

.upgradeMenu li button:disabled {
  background-color: black;
}
